@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Cabinet Grotesk", sans-serif;
}
